
@font-face {
  font-family: 'RhumbaScriptNF';
  src: url('RhumbaScriptNF.eot?#iefix') format('embedded-opentype'),  url('RhumbaScriptNF.woff') format('woff'), url('RhumbaScriptNF.ttf')  format('truetype'), url('RhumbaScriptNF.svg#RhumbaScriptNF') format('svg');
  font-weight: normal;
  font-style: normal;
}
